<div class="home-dashboard">
    <div class="search-card">
      <input type="text" placeholder="From" />
      <input type="text" placeholder="To" />
      <input type="date" />
    </div>
    <div class="actions">
      @for(option of shuttleOptions; track $index){
        <div
          class="action-card"
          [ngClass]="{
            'action-card-selected': selectedShuttleOption === option
          }"
          (click)="onSelectedShuttleFunctionality(option)"
        >
          {{ option }}
        </div>
      }
    </div>

    <button class="continue-btn" (click)="onContinue()">continue</button>
  </div>
  